@import "tailwindcss";

/* ton style perso en dessous */
:root { color-scheme: dark; }

body{
  margin:0;
  min-height:100vh;
  background:
    radial-gradient(1200px 700px at 20% 0%, rgba(124,92,255,.18), transparent 55%),
    radial-gradient(900px 600px at 90% 10%, rgba(35,213,171,.12), transparent 60%),
    #0b0c10;
}
